.grid-container2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
	grid-template-rows: auto; /* Rows adjust to content size */
	gap: 2rem; /* Space between grid items */
	margin: 20px auto; /* Center the container */
}
ul {
	list-style-type: none;
}
.box {
	background-color: #fff;
	color: #0d0d0d;
	padding: 2rem;
	text-align: left;
	font-size: 1rem;
	border-radius: 5px;
}

/* First Column: Position items in first column */
.box1 {
	grid-column: 1;
	grid-row: 1 / span 2; /* First row */
}

.box2 {
	grid-column: 1;
	grid-row: 3; /* Second row */
}

/* Second Column: Position items in second column */
.box3 {
	grid-column: 2;
	grid-row: 1; /* First row */
}

.box4 {
	grid-column: 2;
	grid-row: 2; /* Second row */
}

.box5 {
	grid-column: 2;
	grid-row: 3; /* Third row */
}

/* Third Column: Position the item in the third column */
.box6 {
	grid-column: 3;
	grid-row: 1 / span 3; /* Span all rows in this column */
}
.icon:hover path {
	fill: red; /* Replace with your desired color */
}
.reactIcon:hover path {
	fill: #4ad5ff;
}
.HtmlIcon:hover .HtmlIconPath {
	fill: #ec6432; /* Change the color on hover */
}
.cssIcon:hover path {
	fill: #264de4;
}
.jsIcon:hover path {
	fill: #f7df1e;
}
.tsIcon:hover path {
	fill: #3179c7;
}
.canvaIcon:hover path {
	fill: #7d2ae8;
}
.premiereIcon:hover path {
	fill: #9999ff;
}
.davinciIcon:hover path {
	fill: #f2465c;
}
.figmaIcon:hover path {
	fill: #0acf83;
}
