.banner {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 30rem; /* Adjusted height */
	background-color: #0d0d0d;
	color: #e0e0e0;
	justify-content: center;
	align-items: center;
	//background-image: url("/monobg.png");
	//background-size: contain; /* Adjust image size */
	//background-repeat: no-repeat;
	//background-position: center;
	//position: relative;
}

/*.banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/
.bannerName {
	margin-top: 12rem;
}
.mainIntro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5.5rem;
	background-color: #1a1a1a;
	color: #e0e0e0;
}
.intro1 {
	display: flex;
}
.intro2 {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	text-align: justify;
	gap: 4rem;
}
.asymSection {
	background-color: #0d0d0d;
	color: #1a1a1a;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5.5rem;
}
.section1 {
	width: 220rem;
}
.section2 {
	width: 220rem;
}
.column1 {
	width: 29%;
}
.column2 {
	width: 30%;
}
.column3 {
	width: 32%;
}
.edu {
	height: auto;
	background: #e0e0e0;
	border: 16px solid #333;
	border-radius: 32px !important;
	position: relative;
	overflow: hidden;
}
.inner {
	width: 100%;
	height: 100%;
	background: white;
	border-radius: 10px; /* Inner edge radius */
	padding: 2rem;
}
.inner1 {
	width: 100%;
	height: 100%;
	background: white;
	border-radius: 10px; /* Inner edge radius */
	padding: 2.2rem;
}
.liTitle {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}
.liSubtxt {
	padding-left: 1.8rem;
	font-size: 1.2rem;
}

.exp {
	background: #e0e0e0;
	margin-top: 3rem;
}
.soft {
	height: auto;
	background: #e0e0e0;
}
.softList svg,
.skillList svg {
	height: 3rem;
	width: 3rem;
	transition: transform 0.3s ease; /* Smooth scaling */
}
.softList svg:hover,
.skillList svg:hover {
	transform: scale(1.2); /* Increase size to 120% */
}

.skills {
	height: auto;
	background: #e0e0e0;
	margin-top: 3rem;
}
.skillList,
.softList {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}
.hobb {
	height: auto;
	background: #e0e0e0;
	margin-top: 3rem;
}
.resume {
	text-align: center;
	background: #e0e0e0;
}
.edu,
.exp,
.soft,
.skills,
.hobb,
.resume {
	border: 16px solid #333;
	border-radius: 32px !important;
	position: relative;
	overflow: hidden;
}
.exp,
.hobb,
.resume {
}
.projects {
	background: #1a1a1a;
	color: #e0e0e0;
	padding: 5.5rem;
}
.card2 {
	width: 300px;
	height: 200px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.4s, box-shadow 0.3s;
}

.card2:hover {
	transform: translateY(-20px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.contact {
	background: #0d0d0d;
	color: #e0e0e0;
	padding: 5.5rem;
}
.subText {
	margin-top: 1rem;
}
.contactForm {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.contactForm form {
	width: 40%;
}
.formLbInp {
	display: flex;
	flex-direction: column;
}
.formLbInp label {
	margin-top: 3rem;
}
.formLbInp input {
	height: 3.5rem;
	border-radius: 8px;
	margin-top: 1rem;
	padding: 1rem;
}
.formLbInp textarea {
	height: 7.5rem;
	border-radius: 8px;
	margin-top: 1rem;
	padding: 1rem;
}

.leftSide {
	width: 100%;
}
.rightSide {
	width: 40%;
	background: #fff;
	color: #1a1a1a;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}
.row1 {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	gap: 4rem;
	justify-content: start;
}
.contactDetails svg {
	width: 2rem;
	height: 2rem;
}
.linkIn {
	text-decoration: none;
	color: #000;
	transition: color 0.3s ease-in-out;
}
.linkIn:hover {
	text-decoration: none;
	color: #ff5722;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
}
