.sepa {
	height: 1px;
	background: #ffc107;
	width: 96%;
}
.footerContent1 a{
	text-decoration:none;
	color:#fff;
}
.footer {
	background: #0d0d0d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.footerContents {
	color: #e6e6e6;
	padding: 2rem;
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 5rem;
}
.footerLinks {
	width: 68%;
	display: flex;
	justify-content: space-between;
}
.copyRight{
	width:30rem;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
	.footerLinks {
		justify-content: center;
		gap: 1rem;
		margin-top: 1rem;
	}
	.mobSlash {
		display: none;
	}
	.footerContent1 {
		text-align: center;
	}
}
