.sepa {
	height: 1px;
	background: #ffc107;
	width: 96%;
}
.footer {
	background: #0d0d0d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.contents {
	color: #e6e6e6;
}
