@font-face {
	font-family: "Futura Std";
	src: url("/FuturaStd.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Futura Std;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.host-grotesk-<uniquifier > {
	font-family: "Host Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.libre-franklin-<uniquifier > {
	font-family: "Libre Franklin", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
.normaltext {
	font-size: 1rem;
}
.req {
	color: #ff5003;
}
